/* Cadre blanc pour le point d'interrogation */
.question-card {
  background-color: white; /* Remplit le cadre en blanc */
  width: 300px; /* Largeur du cadre */
  height: 400px; /* Hauteur du cadre */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centre le cadre horizontalement */
  border: 1px solid #ddd; /* Bordure grise légère */
}

/* Style du point d'interrogation */
.question-mark {
  font-size: 200px; /* Taille du point d'interrogation */
  font-weight: bold;
  color: black; /* Couleur noire */
  position: relative;
  text-align: center;
  line-height: 1;
}

.question-mark::after {
  content: "";
  width: 20px; /* Diamètre du point */
  height: 20px;
  background-color: black; /* Point en bas */
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.question-mark::before {
  content: "?";
  display: block;
  position: absolute;
  left: 30%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.question-mark::after {
  content: "";
  width: 20px; /* Diamètre du point */
  height: 20px;
  background-color: black; /* Point en bas */
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}


* {
  box-sizing: border-box;  
  background: purple;
  color:grey;
}

body {
  font-family: Arial;
  padding: 10px;
}

.header {
  padding: 30px;
  text-align: center;
  background: purple;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  display: flex;
  gap: 15px; /* Espace entre les icônes */
  justify-content: center; /* Centre les icônes horizontalement */
  align-items: center;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background: purple;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: purple;
  padding-left: 20px;
}

.card {
  background-color: purple;
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: purple;
  margin-top: 20px;
}

#quiz {
  margin: 0 auto;
  padding: 20px;
  background: purple;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  text-align: center;
}

#question {
  margin-bottom: 20px;
  text-align: center;
}

#proposals {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(227, 238, 10);
  color: #131313;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8d8d;
}

.icon {
  width: 30px;
  height: 30px;
  fill: black; /* Couleur des icônes */
  transition: fill 0.3s;
}

.icon:hover {
  fill: #0077b5; /* Couleur au survol (ex: LinkedIn) */
}